extends ../partials/layout

block content
  - var seotitle = "Sillewa Lures";

block content
  .medium-banner
    .banner-content
      h1.banner-title Title
      p.banner-subtitle Subtitle

  .page
    .section-centered
      h2.title Why Sillewa Lures
      p We believe everyone should have confidence in their baits and total control over their presentation. We design crankbaits focused on quality, durability and reliability.
      p
        b
          i We deserve crankbaits that catch fish, not fishermen.
    .section-inverse

