extends ../partials/layout

block head

block content
  .banner-container
    .large-banner
      .banner-content
        h1.banner-title Title
        p.banner-subtitle Subtitle

  .page-container
    .card
      .card-header
        h2 Why Sillewa Lures
      .card-description
        p We believe everyone should have confidence in their baits and total control over their presentation. We design crankbaits focused on quality, durability and reliability.
        p
          b
            i We deserve crankbaits that catch fish, not fishermen.
      .card-footer



