extends ../partials/layout

block head
  title Outdoor Gear by Sillewa Lures

block content
  .collection-banner
    h1 Collection Name
  p snapback hat description
  //- include ../collections/snapback-hats.html