extends ../partials/layout

block content
  - var seotitle = "Sillewa Lures";
  - var collection = "Collection Title";
  - var collection_description = "This collection...";

  include ../templates/collection-page

