.navbar
  a(href="/")
    img.navbar-brand(src='https://cdn.shopify.com/s/files/1/2510/8840/files/sillewalogotext_100x@2x.png?v=1510272581')
  .navbar-items.navbar-items-right
    a.navbar-link(href="/shallow-divers") Shallow Divers
    a.navbar-link(href="/medium-divers") Medium Divers
    a.navbar-link(href="/deep-divers") Deep Divers
    a.navbar-link(href="/outdoor-gear") Outdoor Gear
