nav#navbar
  img#navbar-logo(src='https://cdn.shopify.com/s/files/1/2510/8840/files/sillewalogotext_100x@2x.png?v=1510272581')
  ul
    li
      a(href="/") Home
    li
      a(href="/shallow-divers") Shallow Divers
    li
      a(href="/medium-divers") Medium Divers
    li
      a(href="/deep-divers") Deep Divers
    li
      a(href="/outdoor-gear") Outdoor Gear
    li
      a(href="/about-us") About Us
