
block head
  title #{seotitle}

block content
  .medium-banner
    .banner-content
      h1.banner-title #{pagetitle}
      p.banner-subtitle #{subtitle}

  .page
    .section-centered
      h2.title Why Sillewa Lures
      p We believe everyone should have confidence in their baits and total control over their presentation. We design crankbaits focused on quality, durability and reliability.
      p
        b
          i We deserve crankbaits that catch fish, not fishermen.
    .section-inverse


